:root {
    --spoiler-color: #000;
}

p {
    line-height: 1.5em;
}

.post {
    background: rgb(226, 223, 223);
    padding: 1em;
    border: 1em;
    margin-bottom: 1em;
}

.spoiler {
    background: var(--spoiler-color);
    color: var(--spoiler-color);
    transition: all ease-in .5s;
}

.spoiler:hover {
    background: initial;
    color: initial;
}