html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --search-border: #bbb;
    --search-focus-border: #437edd;
}

/* w3.org */
.hide {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.container {
    /* background: black; */
    padding: 2em;
    width: 80%;
    margin: auto;
    min-width: 400px;
}

.search-bar {
    width: 30%;
    line-height: 2;
    border-radius: 5px;
    border: 2px solid var(--search-border);
    transition: all 0.5s;
}

.search-bar:focus {
    width: 100%;
    border-color: var(--search-focus-border);
}